/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



#banner {
	display: block;
	background-color: rgba(34, 34, 34, 1);
	width: 102%;
	margin-top: -2.2em;
	height: 2em;
	margin-left: -.47em;
}

#under_head {
	width: 100%;
	background-color: white;
	margin-top: 2.5em;
	height: 5em;
	margin-left: -.47em;
}

.top_link {
	text-decoration: none !important;
	color: #e0e0e0 !important;
}

.bottom_link {
	text-decoration: none !important;
	color: white !important;
}

#logo {
  height: 3em;
  width: 12em;
  margin-left: .5em;
  display: block;
  margin-top: -6.4em;
}

#exchange {
	/*margin-left: 1em;*/
	margin-top: -.5em;
}

#top {
	display: inline-block;
	color: #e0e0e0;
	font-family: helvetica;
	margin-left: 40em;
	margin-top: 0.5em;
}

#bottom {
	float: right;
	margin-right: .7em;
	margin-top: -.1em;
}

ul li {
	display: inline;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	text-decoration: none !important;
}


.top_header {
	font-size: .8em;
	margin-right: .2em;
	padding: .4em;
}

.bottom_header {
	background-color: #858D93;
	color: white;
	padding: .5em;
	margin-left: .4em;
	font-size: .85em;
}

.top_header:hover {
	background-color: grey !important;
	padding-top: .53em;
	padding-bottom: .58em;
	text-decoration: none !important;
}

.bottom_header:hover {
	background-color: orange;
}

#navbar-search {
	margin-left: 21em;
	margin-top: -1em;
	float: right;
	margin-right: 1em;
}

#search_bar {
	width: 17em;
}

footer {
	position: fixed;
	bottom:0;
	width:101.5%;
	height:60px;   /* Height of the footer */
	background: #2f2f2f;
	margin-left: -1em;
	margin-bottom: -1em;
}

#foot {
	display: inline-block;
	margin-left: 30em;
	font-size: .7em;
	color: #a2dcf4;
	margin-top: 1.5em;
	bottom: 0;
}

.foot_link {
	margin-right: 1em;
}

/*Questions Index************************************** */
  
#all_questions {
	margin-top: 3em;
}

.ind_ques { 
  padding: 12px 0 10px 0;
  border-botto;m: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0
}

.ind_ques_contents {
	margin-left: 6em;
	list-style-type: none;
}

.ui_avatar_question {
	width: 2.7em;
	height: 2.7em;
	margin: 0 auto;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
	margin-top: 1em;
}

div div p {
	color: #0c65a5 !important;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

div div p:nth-child(2) {
	font-size: .8em;
	color: #444 !important;
}

div div p:nth-child(4) {
	font-size: .7em;
	position: absolute;
	margin-left: 4.5em;
	margin-top: -5.5em;
}

.qi_link {
	text-decoration: none !important;
	color: #0c65a5 !important;
}

/* question show ********************************* */

.avy {
	width: 2em;
	height: 2em;
}

#qs_title {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: .7em;
	font-size: 1.5em;
}

.user_section {
	padding: 12px 0 10px 0;
	border-top: 1px solid #e0e0e0;
	margin-left: 1.2em;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#qu_name {
	color: #0c65a5;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	text-decoration: none !important;
	font-size: .7em;
}

#qu_box {
	margin-left: 5em;
	margin-top: 2em;
}

.ind_question {
	padding: 12px 0 10px 0;
	border-top: 1px solid #e0e0e0;
	margin-left: 5.4em;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: .9em;
}

.user {
	margin-top: 2em;
	margin-left: .2em;
}

#answer_submit {
	margin-top: 2em;
	margin-left: 1em;
}

#qs_content{
	margin-left: 5em;
}

#comments {
	margin-left: 40em;
	position: absolute;
	font-size: .8em;
	margin-top: 1em;
}

.add_com {
	color: #888;
	text-decoration: none !important;
	margin-top: 2em;
}

.add_com:hover {
	color: #07c;
}

#com {
	padding: 4px 0 4px 0;
	border-top: 1px solid #e0e0e0;
	list-style-type: none;
}

#delete {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: 10em;
	font-size: .5em;
	color: #888;
	text-decoration: none !important;	
}

#edit {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: 5em;
	font-size: .5em;
	color: #888;
	text-decoration: none !important;	
}

#sub {
	margin-top: 2em;
}

/* Votes ********************************************************* */

#voting {
	margin-top: -4em;
	margin-left: 1em;
	width: 1%;
}

#voting_answer {
	margin-left: -4.4em;
	position: absolute;
	margin-top: -2em;
}

#dislike {
	margin-top: .9em;
}

#votes_total {
	color: #858D93;
	margin-left: .6em;
}

#answer_amount {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #444;
	margin-left: 5em;
	margin-bottom: .6em;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid #858D93;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #858D93;
}

/* User Index/log/signin****************************** */

#ui_title {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: .7em;
	margin-top: 2em;
}

#user_index {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding: 15px;
	border: 0;
	border-top: 1px solid #e0e0e0;
	box-sizing: content-box;
}

.ui_avatar {
	width: 3.3em;
	height: 3.3em;
	margin: 0 auto;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.user_pro {
	display: inline-block;
	margin-right: 15em;
}

.user_pro_name {
	color: #0c65a5 !important;
	font-size: .8em;
	margin-left: 4.5em;
	margin-top: 1.2em;
	position: absolute;
	text-decoration: none !important;
}

.user_pro_location {
	color: #888;
	font-size: .8em;
	margin-left: 4.5em;
	margin-top: 2.4em;
	position: absolute;
}

#register_title {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: .2em;
}

form input[type='text'] {
   margin-top: 1em;
   width: 23em;
   height: 2em;
   border-color: black;
   border-width: 1px;
}

form input[type='password'] {
   margin-top: 1em;
   width: 23em;
   height: 2em;
   border-color: black;
   border-width: 1px;
}

form input[type='url'] {
	margin-top: 1em;
	width: 23em;
	height: 2em;
	border-color: black;
	border-width: 1px;
}

form input[type='submit'] {
	margin-top: 1.5em;
	position: absolute;
	color: #fff;
	background-color: #009afd;
	border: 1px solid #1777b7;
	box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset,0 1px 1px rgba(100,100,100,0.3);
	padding: 8px 10px 7px 10px;
	border-radius: 3px;
	text-decoration: none;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

fieldset {
	width: 20%;
	padding-bottom: 4em;
	background: #f9f9f9;
	border: 1px solid #d4d4d4;
	box-shadow: -1px 1px #f2f2f2;
	color: #888;
	margin-bottom: 15px;
	margin-top: 2em;
}

legend {
	color: black !important;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
	text-decoration: none !important;
	border-top-style: solid;
	border-top-color: orange;
	border-top-width: 2px;
}


span {
	margin-left: 10em;
	position: absolute;
	color: black;

}

span:hover {
	margin-left: 10em;
	position: absolute;
	color: black;
	border-top-style: solid;
	border-top-color: orange;
	border-top-width: 2px;
}

.sign_link {
	color: black !important;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif !important;
	text-decoration: none !important;
}


/* user show****************************************** */
.user_show {
	padding: 12px 0 10px 0;
	border-top: 1px solid #e0e0e0;
	margin-top: 2em;
	margin-left: -2em;

}

#us_avatar {
	width: 8.3em;
	height: 8.3em;
}

#us_name {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	margin-left: .7em;
	margin-top: 2em;
}

.user_info {
	display: inherit;
}

.us_title {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #0c65a5;
	margin-left: .5em;
	position: absolute;
	margin-top: .3em;
}

li .new_comment{
	color: #888;
	opacity: .6;
	padding: 0 3px 2px 3px;
}

.us_answers {
	text-decoration: none !important;
	color: #444 !important;
}

.us_questions {
	text-decoration: none !important;
	color: #444 !important;
}

#edit_prof {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #666 !important;
	text-decoration: none !important;
	font-size: .8em;
	margin-left: .5em;
}

#delete_prof {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #666 !important;
	text-decoration: none !important;
	font-size: .8em;
}

