

<div id="voting">

Votes:
<%= Vote.total(@question.id, "Question") %>

<% question_id = @question.id%>

<p><div id="like">

<%= link_to "Like", question_votes_path(@question, like: "yes"), method: :post %>
</div></p>


<p><div id="dislike">
<%= link_to "Dislike", question_question_down_path(question_id: question_id, like: "no"), method: :post %>
</div></p>

</div>

