<!DOCTYPE html>
<html>
<head>
  <title>StackOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<img id='exchange' src="/assets/stack_exchange.png">
	<div id='banner'>
		<ul id='top'>
			<li class='top_header'>sign up</li>
			<li class='top_header'>log in</li>
			<li class='top_header'>tour</li>
			<li class='top_header'>help</li>
			<li class='top_header'>stack overflow careers</li>
			<form id="navbar-search" action="/search" method="GET">
          <input id="search_bar" type="text" class="search-query span4" placeholder="Search" name="search">
    </form>
		</ul>
	</div>

	<div id='under_head'>
		<ul id='bottom'>
			<li class='bottom_header'>Questions</li>
			<li class='bottom_header'>Tags</li>
			<li class='bottom_header'>Users</li>
			<li class='bottom_header'>Badges</li>
			<li class='bottom_header'>Unanswered</li>
			<li class='bottom_header'>Unanswered</li>
		</ul>
	</div>
	<img id='logo' src="/assets/stackoverflow_logo.jpg">
</header>


<%= yield %>

</body>
</html>
